[submodule "third_party/shipovnik"]
	path = third_party/shipovnik
	url = https://github.com/QAPP-tech/shipovnik_tc26.git
[submodule "third_party/hypericum"]
	path = third_party/hypericum
	url = https://github.com/QAPP-tech/hypericum_tc26.git
[submodule "third_party/kryzhovnik"]
	path = third_party/kryzhovnik
	url = https://github.com/ElenaKirshanova/pqc_LWR_signature.git
[submodule "third_party/iaik_merkle_tree"]
	path = third_party/iaik_merkle_tree
	url = https://github.com/IAIK/merkle-tree.git
