[submodule "third_party/hypericum"]
	path = third_party/hypericum
	url = https://github.com/cherninkiy/hypericum-wrapper-tc26
	branch = main

[submodule "third_party/shipovnik"]
	path = third_party/shipovnik
	url = https://github.com/cherninkiy/shipovnik-wrapper-tc26
	branch = main

[submodule "third_party/kryzhovnik"]
	path = third_party/kryzhovnik
	url = https://github.com/cherninkiy/kryzhovnik-wrapper-tc26
	branch = main
